#navbar {
	background: #0066ff;
	height: 100px;
}

#searchBar {
	width: 200px;
}

#navBar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

#navBar-ul li {
	display: inline;
}

#homeIcon {
	float:left;
}

#settingsIcon {
	float:right;
}

body {
	background: black;
}